@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --text-color: #4D4D4D;
  --background-color:#FFF4E0;
  --primary-accent-color:#B46060;
  --secondary-accent-color: hsl(22, 100.0%, 92%)

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}


.page {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 800px;
  min-height: 600px;
  border: var(--primary-accent-color) solid 4px;
  border-radius: 8px;
  background-color: var(--secondary-accent-color);


  display: grid;
  grid-template-columns: 1fr 1fr;

}

.card-image {
  background-image: url("https://previews.123rf.com/images/kamonrat/kamonrat1404/kamonrat140400048/27887802-portrait-of-gray-shothair-cat-ing-camera-isolated-on-white-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;

}

.card-main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px
}

.card-main > article > img {
  width: 98px;
  float: left;
  margin: 0 16px 16px 0 ;
}
.card-main > h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-main > article > p::before {
  margin-right: 2em;
  content: "";
}

.card-main > p {
  align-self: flex-end;
  font-size: .9rem;
}

@media (min-width: 800px) {
  .card {
    width: 800px;
    grid-template-columns: 1fr 1fr 0 0;
  }
  .card-image {
    border-radius: 4px  0 0 4px;
  }

}
